@font-face {
    font-family: Dreamwood;
    src: url(./fonts/Dreamwood/Dreamwood.ttf);
}

@font-face {
    font-family: DragonHunter;
    src: url(./fonts/Dragon-Hunter/DragonHunter.otf);
}

@font-face {
    font-family: XalTerion;
    src: url(./fonts/XalTerion/XalTerion.ttf);
}

@font-face {
    font-family: Merienda;
    src: url(./fonts/Merienda/Merienda.ttf);
}

@font-face {
    font-family: Alegreia;
    src: url(./fonts/Alegreya/Alegreya.ttf);
}