* {
  box-sizing: border-box;
  margin: 0;
  font-family: Alegreia;
  color: var(--main-txt-color);
  text-shadow: 1px 1px 2px var(--main-shadow), 0 0 1em var(--main-shadow), 0 0 0.2em var(--main-shadow);
}


body {
  /* background-color: var(--main-bgc);*/
  background: radial-gradient(#1d1717, var(--main-bgc));
}

#root {
  /* padding: 0.4em 1em; */
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  height: 100%;
}